body {
    font-family: 'Raleway', sans-serif;
}

header, footer {
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}

aside {
    background-color: #f7f7f7;
    text-align: center;
    padding-top: 40px;
}

.range-list {
    padding-bottom: 40px;
    padding-top: 40px;
}

    .range-list h4 {
        margin-bottom: 40px;
        color: darkorange;
        font-weight: bold;
    }

    .range-list img {
        width: 100%;
        height: 100%;
        max-width: 140px;
        max-height: 60px;
    }

.range-title {
    color: darkblue;
}

.sports-icon-list {
    background-color: #333;
    padding-bottom: 40px;
}

    .sports-icon-list a {
        color: white;
    }

        .sports-icon-list a h6 {
            margin-top: 2px;
            margin-bottom: 14px;
        }

    .sports-icon-list img {
        width: 70px;
        height: 70px;
    }