body {
    font-family: 'Raleway', sans-serif;
}

header, footer {
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}

aside {
    background-color: #f7f7f7;
    text-align: center;
    padding-top: 40px;
}
